{% extends "base-template.html" %}
{% block title %}Journal{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Page Header -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom welcome-header">
    <h2>Hello, Nichole!</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm outline-btn"><a class="nav-link btn-new" href="{{ url_for('add')}}"><span><i class="fa fa-plus pr-2" aria-hidden="true"></i></span>Add New Post</a></button>   
    </div>
  </div>

  <!--Main Content-->
  <div class="row mb-2">
    {% for post in posts|reverse %}
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mt-4 h-md-250 position-relative journal-card">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{post.title}}</h3>
            <p class="mb-3 journal-subtitle">{{post.subtitle}}</p>
            <p class="journal-author">{{post.author}}</p>
            <p class="d-inline-block font-italic ">{{post.datetime}}</p>
            <a href="{{ url_for('post', post_id=post.doc_id)}}" class="stretched-link"></a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  <!--
  <header class="masthead" style="background-image: url('{{ url_for('static',filename = 'home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome to my Journal!</h1>
            <span class="subheading">Journal's made for you</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  -->
  <!-- Main Content -->
  <!-- 
  <div class="container">
    <div class="row">
      {% for post in posts|reverse %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{{ url_for('post', post_id=post.doc_id)}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author}}
            on {{post.datetime}}</p>
        </div>
        <hr>
      </div>
      <div class="col-lg-1 col-md-10 mx-auto">
        <a class="btn btn-primary" href="{{ url_for('update', post_id=post.doc_id)}}" role="button" >Edit</a>
        <a class="btn btn-danger" href="{{ url_for('delete', post_id=post.doc_id)}}" role="button">Delete</a>
      </div>
      {% endfor %}
    </div>
  </div>
-->
  {% endblock %}
